<section class="features">
  <div class="features-wrapper__title">
    <h2>We’re different</h2>
  </div>
  <div class="container">
    <div class="features-wrapper__box">
      <img
        src="<%= require('/src/images/icon-snappy-process.svg') %>"
        alt="snappy process"
        aria-hidden="true"
      />
      <h3>Snappy Process</h3>
      <p>
        Our application process can be completed in minutes, not hours. Don’t
        get stuck filling in tedious forms.
      </p>
    </div>
    <div class="features-wrapper__box">
      <img
        src="<%= require('/src/images/icon-affordable-prices.svg') %>"
        alt="affordable prices"
        aria-hidden="true"
      />
      <h3>Affordable Prices</h3>
      <p>
        We don’t want you worrying about high monthly costs. Our prices may be
        low, but we still offer the best coverage possible.
      </p>
    </div>
    <div class="features-wrapper__box">
      <img
        src="<%= require('/src/images/icon-people-first.svg') %>"
        alt="people first"
        aria-hidden="true"
      />
      <h3>People First</h3>
      <p>
        Our plans aren’t full of conditions and clauses to prevent payouts. We
        make sure you’re covered when you need it.
      </p>
    </div>
  </div>
</section>
