<div class="footer-header">
  <img
    src="<%= require('/src/images/logo.svg') %>"
    alt="logo"
    aria-hidden="true"
  />
  <div class="social-icons-wrapper">
    <a href="#fb">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="#twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#pinterest">
      <i class="fab fa-pinterest"></i>
    </a>
    <a href="#insta">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>
<div class="footer-links">
  <div class="footer-links__box">
    <h4>our company</h4>
    <div class="links">
      <a href="#how-we-work">how we work</a>
      <a href="#why-insure">why insure</a>
      <a href="#check-price">check price</a>
      <a href="#reviews">reviews</a>
    </div>
  </div>
  <div class="footer-links__box">
    <h4>help me</h4>
    <div class="links">
      <a href="#faq">faq</a>
      <a href="#terms-of-use">terms of use</a>
      <a href="#privacy-policy">privacy policy</a>
      <a href="#cookies">cookies</a>
    </div>
  </div>
  <div class="footer-links__box">
    <h4>contact</h4>
    <div class="links">
      <a href="#sales">sales</a>
      <a href="#support">support</a>
      <a href="#live-chat">live chat</a>
    </div>
  </div>
  <div class="footer-links__box">
    <h4>others</h4>
    <div class="links">
      <a href="#careers">careers</a>
      <a href="#press">press</a>
      <a href="#licenses">lisences</a>
    </div>
  </div>
</div>
